body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    color: rgb(1, 1, 31);
}

h1 {
    color: rgb(5, 83, 83);
}

/*attribute selector*/
a {
    colour: white;
    text-decoration: none;
}

a:hover {
    colour: white;
}

/*child selector*/
ul>li {
    font-weight: bold;
}

/*sibling selector*/
h1+p {
    background-color: rgb(50, 71, 71);
    padding: 10px;

    border-radius: 5px;
}

/*hover pseudo-class*/
ul li:hover {
    colour: white;
}

/*:nth-child(n) pseudo-class*/
p:not(:first-of-type) {
    content: counter(zain);
}

/*:not(selector) pseuso-class*/
p:not(:first-of-type) {
    text-decoration: wavy;
}

/*before pseudo element*/
ul li::before {
    content: none;
}

/*after pseudo element*/
a::after {
    content: normal;
}

/*first letter pseudo element*/
p::first-letter {
    font-size: 50px;
    color: white;
}